@inherits LayoutComponentBase

<div class="h-screen flex flex-col">
    <NavMenu />
    <main class="flex-grow flex items-center justify-center" style="height: calc(100vh - 4rem);">
        <article>
            @Body
        </article>
    </main>
</div>
